<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button severity="success" [outlined]="true" label="Create List" icon="pi pi-plus" (onClick)="onClickCreate()" pRipple />
    </ng-template>
    <ng-template #end>
        <p-button [outlined]="true" icon="pi pi-filter-slash" (click)="onClickClearFilters(dt)" />
        <p-button class="pl-2" [outlined]="true" icon="pi pi-refresh" (click)="onClickReload()" />
    </ng-template>
</p-toolbar>

<p-table #dt [value]="questionLists" [(selection)]="selectedQuestionLists" [rows]="10" [paginator]="true" [globalFilterFields]="['title', 'description', 'startDate', 'endDate']" [sortMode]="'multiple'" [rowHover]="true" dataKey="id" [rowsPerPageOptions]="[10, 20, 50, 100]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Question Lists</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input [(ngModel)]="searchValue" pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="title">
                Title
                <p-sortIcon field="title" />
            </th>
            <th pSortableColumn="description">
                Description
                <p-sortIcon field="description" />
            </th>
            <th pSortableColumn="startDate">
                Start Date
                <p-sortIcon field="startDate" />
            </th>
            <th pSortableColumn="endDate">
                End Date
                <p-sortIcon field="endDate" />
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-row>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="row" />
            </td>
            <td>{{ row.title }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.startDate | dateFormat }}</td>
            <td>{{ row.endDate | dateFormat }}</td>
            <td class="flex justify-end items-center gap-2">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (onClick)="onClickUpdate(row)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (onClick)="onClickDelete(row)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<ctx-university-create-question-list *ngIf="createVisible" [visible]="createVisible" (visibleEvent)="onCreateVisibleEvent($event)" (successEvent)="onCreateSuccessEvent($event)" (cancelationEvent)="onCreateCancelationEvent($event)" />

<ctx-university-update-question-list
    *ngIf="updateVisible && selectedQuestionList"
    [visible]="updateVisible"
    [questionLists]="selectedQuestionList"
    (visibleEvent)="onUpdateVisibleEvent($event)"
    (successEvent)="onUpdateSuccessEvent($event)"
    (cancelationEvent)="onUpdateCancelationEvent($event)"
/>

<ctx-university-delete-question-list
    *ngIf="deleteVisible && selectedQuestionList"
    [visible]="deleteVisible"
    [questionLists]="selectedQuestionList"
    (visibleEvent)="onDeleteVisibleEvent($event)"
    (successEvent)="onDeleteSuccessEvent($event)"
    (cancelationEvent)="onDeleteCancelationEvent($event)"
/>
