<p-dialog [(visible)]="visible" maximizable="true" draggable="false" (onHide)="onHide()" [style]="{ width: '80vw', height: '100vh' }" header="Editar Exercicio" [modal]="true">
    <ng-template #content>
        <form [formGroup]="form">
            <div class="grid">
                <div class="col-12">
                    <label for="titulo" class="block font-bold mb-3">Título</label>
                    <input type="text" pInputText id="titulo" formControlName="titulo" />
                </div>
                <div class="col-12">
                    <label for="enunciado" class="block font-bold mb-3">Enunciado</label>
                    <textarea class="w-full" id="enunciado" pTextarea formControlName="enunciado"></textarea>
                </div>
                <div class="col-12">
                    <label class="block font-bold mb-3">Cenários de Teste</label>
                    <ctx-faculdade-listar-cenarios-de-teste />
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="w-full flex justify-between items-center gap-2">
            <p-button severity="secondary" (onClick)="onClickCancelar()" pRipple>Cancelar</p-button>
            <p-button severity="primary" (onClick)="onClickSalvar()" pRipple>Salvar</p-button>
        </div>
    </ng-template>
</p-dialog>
