<div class="dashboard">
    <div class="header-card">
      <p-calendar [(ngModel)]="currentDate" dateFormat="MM dd, yy" [showTime]="true" [showSeconds]="true" [hourFormat]="'24'" disabled></p-calendar>
      <h2>Good Day, {{ username }}!</h2>
    </div>
    <div class="stats-container">
      <div class="stat-card" *ngFor="let stat of [1, 2, 3]">
        <p class="stat-title">Exercises created</p>
        <p class="stat-value">{{ exercisesCreated }}</p>
      </div>
    </div>
    <div class="profile-container">
      <div class="profile-header">
        <p>My profile</p>
        <p-avatar icon="pi pi-user"></p-avatar>
      </div>
      <div class="profile-content"></div>
    </div>
    <div class="stats-container">
        <div class="stat-card"></div>
        <div class="stat-card"></div>
    </div>
    <div class="empty-card"></div>
  </div>
  